@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Global Styles */
body {
  height: 100%;
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
